#projects-container {

  display: grid;

  grid-template-columns:
    repeat(auto-fit, minmax(300px, 1fr));

  gap: 20px;
}

.project-card {

  background: var(--card-bg);

  border: 1px solid var(--border-color);

  padding: 20px;

  border-radius: 16px;

  transition: 0.3s;
}

.project-card:hover {

  transform: translateY(-10px);

  border-color: var(--primary);
}

.skill-card {

  background: var(--card-bg);

  padding: 20px;

  margin: 10px 0;

  border-radius: 10px;
}
