.navbar {

  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 20px 10%;

  position: sticky;

  top: 0;

  background: rgba(0,0,0,0.5);

  backdrop-filter: blur(10px);
}

.hero {

  min-height: 100vh;

  display: flex;

  justify-content: center;

  align-items: center;

  text-align: center;
}

.hero-content span {
  color: var(--secondary);
}
